<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <ul class="list-inline text-center">
      <li>
        <a href="https://www.facebook.com/krisztian.kurucz">
          <span class="fa-lg">
            <i class="fa fa-facebook"></i>
          </span>
        </a>
      </li>
      <li>
        <font class="slash" size="6px">/</font>
      </li>
      <li>
        <a href="https://www.instagram.com/jazzkrk11/">
          <span class="fa-lg">
            <i class="fa fa-instagram"></i>
          </span>
        </a>
      </li>
      <li>
        <font class="slash" size="6px">/</font>
      </li>
      <li>
        <a href="https://ca.linkedin.com/in/krisztiankurucz">
          <span class="fa-lg">
            <i class="fa fa-linkedin"></i>
          </span>
        </a>
      </li>
      <li>
       <font class="slash" size="6px">/</font>
      </li>
      <li>
        <a href="https://github.com/jazzkr">
          <span class="fa-lg">
            <i class="fa fa-github"></i>
          </span>
        </a>
      </li>
      <li>
       <font class="slash" size="6px">/</font>
      </li>
      <li>
        <a href="https://www.hackerrank.com/jazzkr">
        <div class="hr-container">
          <img class="hackerrank" alt="HackerRank Logo" src="{{ url('theme://images/hackerrank.png') }}"/>
        </div>
        </a>
      </li>
    </ul>
    <p class="copyright text-muted">
      Copyright &copy; Krisztian Kurucz {{ year|date("Y") }}
    <br>
      <font size="5px" color="#4a386f"><i class="fa fa-code"></i></font> with <font size="5px" color="#4a386f"><i class="fa fa-heart"></i></font> using <a href="http://getgrav.org">Grav</a> and <a href="http://startbootstrap.com/template-overviews/clean-blog/">Bootstrap</a>.
    </p>
  </div>
</div>
