<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <ul class="list-inline text-center">
      <li>
        <a href="#">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
    </ul>
    <p class="copyright text-muted">
      Copyright &copy; Krisztian Kurucz {{ year|date("Y") }}
    <br>
      <font size="5px" color="#4a386f"><i class="fa fa-code"></i></font> with <font size="5px" color="#4a386f"><i class="fa fa-heart"></i></font> using <a href="http://getgrav.org">Grav</a> and <a href="http://startbootstrap.com/template-overviews/clean-blog/">Bootstrap</a>.
    </p>
  </div>
</div>
